table, td {
    border: 0px solid;
    padding: 2px;
    padding-right: 30px;
    text-align: center;
  }

table {
    border: 1px solid;
}

caption {
    background-color: #297260;
    padding: 10px;
    color: #f2f2f2;
    font-size: larger;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}