<head>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'standings.css' %}">
</head>
<body>
<table>
    <caption>
EPEE STANDINGS
    </caption>
<thead>
    <th>
    Fencer
    </th>
{% for event, data in epee.events.items %}
    <th>
        {{data.tournament}}<br />
        {{data.name}}
    </th>
{% endfor %}
    <th>
        Total
    </th>
</thead>
{% for fencer in epee.fencers %}
<tr>
    {% for key, value in fencer.items %}
        {% if key != "total" %}
    <td>
        {{ key }}
    </td>
        {% endif %}
        {% for cell, points in value.items %}
            {% for position, value in points.items %}
    <td>
            {{ value }}
    </td>
            {% endfor %}
    <td>
            {{ fencer.total }}
        {% endfor %}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>
<br />
<table>
    <caption>
FOIL STANDINGS
    </caption>
<thead>
    <th>
    Fencer
    </th>
{% for event, data in foil.events.items %}
    <th>
        {{data.tournament}}<br />
        {{data.name}}
    </th>
{% endfor %}
    <th>
        Total
    </th>
</thead>
{% for fencer in foil.fencers %}
<tr>
    {% for key, value in fencer.items %}
        {% if key != "total" %}
    <td>
        {{ key }}
    </td>
        {% endif %}
        {% for cell, points in value.items %}
            {% for position, value in points.items %}
    <td>
            {{ value }}
    </td>
            {% endfor %}
    <td>
            {{ fencer.total }}
        {% endfor %}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>
<br />
<table>
    <caption>
SABER STANDINGS
    </caption>
<thead>
    <th>
    Fencer
    </th>
{% for event, data in saber.events.items %}
    <th>
        {{data.tournament}}<br />
        {{data.name}}
    </th>
{% endfor %}
    <th>
        Total
    </th>
</thead>
{% for fencer in saber.fencers %}
<tr>
    {% for key, value in fencer.items %}
        {% if key != "total" %}
    <td>
        {{ key }}
    </td>
        {% endif %}
        {% for cell, points in value.items %}
            {% for position, value in points.items %}
    <td>
            {{ value }}
    </td>
            {% endfor %}
    <td>
            {{ fencer.total }}
        {% endfor %}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<br />
</body>